
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f5ff; 
    color: #333;
    line-height: 1.7;
}

header {
    background: #003d80; 
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
main {
    display: flex; 
    max-width: 1600px;
    margin:  0px;
    padding: 0px;
}

section {
    flex: 4;
    background: #fff5f5; 
    padding: 15px;
    border-radius: 12px;
    border: 1px solid black; 
}

nav {
    display: flex; 
    justify-content: center;
    color: #0056b3;
    padding: 15px;
    font-weight: bold;
    position: sticky;
    z-index:1000 ;
}

nav a{
    color:#0056b3;
    text-decoration: none;
    padding: 30px 40px;
}

nav a:hover {
    color: white;
    background-color:#0056b3;
    border-radius: 20px;
}

aside {
    flex: 1;
    background: #eef6ff;
    padding: 20px;
    border-radius: 12px;
    height: fit-content;
}

aside ul li {
    margin-bottom: 12px;
}

aside ul li a {
    color: #444;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

aside ul li a:hover {
    background: #fff0f0;
    color: #b21f1f;
    padding-right: 15px;
}

.team-container {
display: flex;
justify-content: center;
gap: 100px;
flex-wrap: wrap;
margin-top: 40px;
padding: 20px;
}

.team-card {
background: #ffffff;
border-radius: 15px;
padding:30px;
width: 250px;
box-shadow: 0 10px 25px;
text-align: center;
border-top: 5px solid #003d80;
}

.member-icon {
    font-size: 40px;
    color: #003d80;
    margin-bottom: 15px;
}

.team-card h3 {
    margin-bottom: 100px;
    color: #333;
}

.team-card .role {
    color: #666;
    font-size: 14px;
}

.team-card:hover {
    transform: translateY(-10px); 
}

.services-container {
display: flex; 
justify-content: center;
gap: 20px;
padding: 40px;
flex-wrap: wrap;
}

.service-box {
    background-color: #fff5f5; 
    padding: 30px;
    border-radius: 30px;
    border: 30px solid #ddd; 
    padding: 20px;
    margin: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px;
    transition: 0.3s;
}

.service-box:hover {
transform: translateY(-10px);
}

.form-container {

    background: #f9f9f9;; 
    padding: 30px;
    margin: auto;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 15px;
    max-width: 450px;
}
.input-group {
margin-bottom: 15px;
text-align: right;
}
.input-group {
width: 100%;
padding: 10px;
margin-top: 5px;
border: 1px solid #ccc;
border-radius: 5px;
}
.submit-btn {

 background-color: #003d80;; 
    padding:12px;
    border-radius: 15px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background: #052b53;
    color:white;
    text-align: center;
    padding: 25px;
    margin-top: 250px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    nav {
        flex-wrap: wrap;
    }
}

.social-stack{

  display:flex;
  direction:rtl;
  justify-content:center;
  gap:60px;
  padding:12px 8px;
  flex-wrap: wrap;
}
.social-item{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  width:200px;
  height: 200px;
  background-color: #f9f9f9;
  border-radius:20px;
  border:2px solid #eee;
  text-decoration:none;
  transition: all 0.3s ease;
}
.social-icon i{
  font-size: 4rem;
  margin-bottom: 15px;
}
.social-name{
  font-size:1.4rem;
  font-weight: bold;
  font-family: sans-serif;
  color:#333;
}
.social-item.fb:hover {background-color:#054292; color: white; transform: translateY(-5px);}
.social-item.tw:hover {background-color:#1da1f2; color: white; transform: translateY(-5px);}                                             
.social-item.wa:hover {background-color:#25d366; color: white; transform: translateY(-5px);}                                             

.social-item:hover    .social-name {color: white;}